@font-face {
  font-family: "Commodore";
  src: url("CommodorePixelized.ttf");
}
body {
  font-family: "Verdana";
  text-align: center;
  color: #bbb;
}
canvas {
  font-size: 24px;
}
h1 {
  font-family: "Commodore";
}
a:link {
  color: #888888;
}
a:visited {
  color: #666666;
}
a:active {
  color: #dddddd;
}
td {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

input[type="button"] {
  height: 120px;
  width: 120px;
  font-size: 200%;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
input#spcbar {
  width: 250px;
}

#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 100%;
  height: 30px;
  background-color: green;
}

.dialog {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  display: flex;
  place-items: center;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px);
}

.dialog-content {
  width: 50%;
  margin: auto;
  background-color: rgba(0,0,0,1);
  padding: 48px;
}

#selectCharacterDialog h1 {
  text-align: left;
  margin-bottom: 48px;
}

ul#characters {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0;
  margin: 0;
  gap: 24px;
}

ul#characters li {
  display: flex;
  vertical-align: center;
  line-height: 50px;
  cursor: pointer;
}

ul#characters li:hover {
  background: grey;
  color: black;
}

#characters li img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}