@font-face {
  font-family: "Commodore";
  src: url("CommodorePixelized.ttf");
}

:root {
  --gamepad-button-size: 75px;
}

body {
  font-family: "Verdana";
  text-align: center;
  color: #bbb;
  font-size: 24px;
  background-color: black;
}
canvas {
  font-size: 24px;
}
h1 {
  font-family: "Commodore";
}
a:link {
  color: #888888;
}
a:visited {
  color: #666666;
}
a:active {
  color: #dddddd;
}
td {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

#gamepad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#gamepad > div {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, var(--gamepad-button-size));
}

#gamepad > div:last-child {
  grid-template-columns: repeat(3, var(--gamepad-button-size));
}

#spcbar {
  grid-column: 1 / -1;
}

#up {
  grid-column: 2;
}

#left,
#down,
#right {
  grid-row: 2;
}

#gamepad input[type="button"] {
  font-size: 150%;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-color: grey;
  color: white;
  height: 75px;
  -webkit-appearance: none;
  border-radius: 0;
}

#canvas-container {
  max-width: 750px;
  margin: auto;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  place-items: center;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
}

.dialog-content {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: rgba(0, 0, 0, 1);
  padding: 48px;
}

.dialog-content h1 {
  text-align: left;
  margin-bottom: 48px;
}

ul#characters {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 40px;
  gap: 24px;
}

ul#characters li {
  display: flex;
  flex-direction: column;
  line-height: 50px;
  font-size: 36px;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  font-family: "Commodore", sans-serif;
}

ul#characters li:hover {
  background: rgba(0.2, 0.2, 0.2, 0.5);
  text-decoration: underline;
}

#characters li img {
  width: 100%;
  justify-content: center;
  object-fit: contain;
  margin-bottom: 24px;
  height: 40vh;
}

#fuel-container {
  position: relative;
  font-family: "Commodore", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -72px;
  margin-left: 24px;
}

#fuel-green,
#fuel-red {
  position: absolute;
  height: 60px;
  width: 60px;
  overflow: hidden;
}

#fuel-green:before,
#fuel-red:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 60px solid transparent;
  border-left: 60px solid transparent;
}

#fuel {
  position: relative;
  height: 60px;
  width: 60px;
}

#fuel-red {
  width: 30px;
}

#fuel-red:before {
  border-bottom-color: red;
}

#fuel-green {
  left: 30px;
  width: 30px;
}

#fuel-green:before {
  left: -30px;
  border-bottom-color: green;
}

#captcha {
  font-family: "Commodore", sans-serif;
  display: none;
}

#redirect_cta {
  font-family: "Commodore", sans-serif;
  display: none;
}

#captcha a {
  color: white;
  text-decoration: underline;
}

.captcha-images {
  margin: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.captcha-images img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.cta_refuel {
  display: flex;
  flex-direction: inline-block;
  justify-content: center;
  margin-bottom: 24px;
}

.first_fuel_cta {
  margin-right: 20px;
}

.checked {
  box-shadow: 0 0 0 4px rgb(47, 154, 255);
}

.not-a-robot {
  margin: 24px;
  font-size: 32px;
}

.not-a-robot label {
  height: 50px;
  display: flex;
  align-items: left;
  justify-content: left;
}

#mute {
  margin: 24px;
  display: block;
}

.not-a-robot input {
  height: 32px;
  width: 32px;
  margin: 0;
  margin-right: 24px;
}

@media screen and (max-width: 600px) {
  ul#characters {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 72px;
  }

  ul#characters li img {
    max-height: 20vh;
  }

  :root {
    --gamepad-button-size: 150px;
  }
}

#game {
  display: none;
}

.character-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: row;
  place-items: center;
}

.character-dialog-content {
  width: 100%;
  height: 100%;
  margin: auto;
  background: #0c0c0c url(../img/bg_select_character.jpg) center;
  background-size: cover;
  padding-top: 48px;
  overflow-y: scroll;
}

.character-dialog-content h1 {
  text-align: center;
  margin-top: 48px;
  margin-bottom: 30px;
  font-size: 48px;
  text-shadow: 2px 2px #ff0000;
  text-shadow: 4px 4px #854646;
  color: red;
}

.character-dialog-content h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: white;
  font-family: "Commodore";
}

.captcha-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  place-items: center;
  background-color: rgba(255, 255, 255, 1);
}

.captcha-dialog-content {
  width: fit-content;
  height: fit-content;
  align-content: center;
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.fake-captcha {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr max-content;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 4px);
  max-width: 600px;
  margin: auto;
  border: 2px solid #969696;
}

.fake-captcha h1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-size: 24px;
}

.fake-captcha-header {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 32px;
  padding: 16px;
  background-color: rgb(65, 88, 223);
  font-family: "Commodore", sans-serif;
}

.fake-captcha-header label:last-child {
  font-size: 24px;
}

.start-game-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  background-image: url(../img/virgin_bg.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  font-family: "Commodore", sans-serif;
}

.start-game-dialog > div {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  height: 100%;
}

.start-game-dialog img {
  width: 100%;
  object-fit: contain;
  max-width: 600px;
}

.tweet-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  place-items: center;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  display: none;
}

.tweet-dialog img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  object-fit: contain;
  cursor: pointer;
}

.cta-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  place-items: center;
  background-color: rgba(0, 0, 0, 1);
}

.cta-dialog-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
  padding: 2px;
  height: 100%;
  font-size: 25px;
  overflow-y: scroll;
}

.cta-dialog-content img {
  margin-bottom: 72px;
  width: 100%;
  max-width: 400px;
}

.cta-dialog-content a {
  margin-top: 48px;
  background-color: rgb(94, 150, 11);
  color: white;
  padding: 12px;
  font-family: "Commodore", sans-serif;
  border-radius: 12px;
  border: none;
  text-decoration: none;
}
