@font-face {
  font-family: "Commodore";
  src: url("CommodorePixelized.ttf");
}
body {
  font-family: "Verdana";
  text-align: center;
  color: #bbb;
}
canvas {
  font-size: 24px;
}
h1 {
  font-family: "Commodore";
}
a:link {
  color: #888888;
}
a:visited {
  color: #666666;
}
a:active {
  color: #dddddd;
}
td {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

#gamepad {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#gamepad > div {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 75px);
}

#gamepad > div:last-child {
  grid-template-columns: repeat(3, 75px);
}

#spcbar {
  grid-column: 1 / -1;
}

#up {
  grid-column: 2;
}

#left, #down, #right {
  grid-row: 2;
}

#gamepad input[type="button"] {
  font-size: 150%;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  background-color: grey;
  color: white;
  height: 75px;
}

#canvas-container {
  max-width: 750px;
  margin: auto;
}

.dialog {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  display: flex;
  place-items: center;
  background-color: rgba(0,0,0,0.6);
  backdrop-filter: blur(5px);
}

.dialog-content {
  width: 100%;
  max-width: 800px;
  margin: auto;
  background-color: rgba(0,0,0,1);
  padding: 48px;
}

.dialog-content h1 {
  text-align: left;
  margin-bottom: 48px;
}

ul#characters {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding: 0;
  margin: 0;
  gap: 24px;
}

ul#characters li {
  display: flex;
  vertical-align: center;
  line-height: 50px;
  cursor: pointer;
}

ul#characters li:hover {
  background: grey;
  color: black;
}

#characters li img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  ul#characters {
    font-size: 45px;
  }
}

#fuel-container {
  position: relative;
  font-family: 'Commodore', sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -72px;
  margin-left: 24px;
}

#fuel-green, #fuel-red {
  position: absolute;
  height: 60px;
  width: 60px;
  overflow: hidden;
}

#fuel-green:before, #fuel-red:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  border-bottom: 60px solid transparent;
  border-left: 60px solid transparent;
}

#fuel {
  position: relative;
  height: 60px;
  width: 60px;
}

#fuel-red {
  width: 30px;
}

#fuel-red:before {
  border-bottom-color: red;
}

#fuel-green {
  left: 30px;
  width: 30px;
}

#fuel-green:before {
  left: -30px;
  border-bottom-color: green;
}

#fuel-cta {
  font-family: 'Commodore', sans-serif;
  display: none;
}

#fuel-cta a {
  color: white;
  text-decoration: underline;
}

.captcha-images {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 16px;
}

.captcha-images img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.fake-captcha {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 24px;
}

.checked {
  box-shadow: 0 0 0 4px greenyellow;
}

.not-a-robot {
  margin-top: 24px;
}

.not-a-robot label {
  line-height: 50px;
  height: 50px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mute {
  margin: 24px;
  display: block;
}

.not-a-robot input {
  height: 50px;
  width: 50px;
  margin: 0;
  margin-right: 8px;
}